// A class library for making a consistent spacing in a html page.



// development:
// @use "node_modules/@heymarco/sass-class-template/index" as *;

// production:
@use "../../../node_modules/@heymarco/sass-class-template/index" as *;



@use    "sass:string"  as string;
@use    "sass:map"     as map;



// $alias              : "%spacer"                             !default;
// $class              : ".spacer"                             !default;
$var-root           : ":root"                               !default;
$var-prefix         : "spc"                                 !default;
$var-prefix-base    : ""                                    !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$default    : var(#{$cssvar}md)                             !default;
$none       : 0px                                           !default;
$xs         : calc(var(#{$cssvar}md) / 4)                   !default;
$sm         : calc(var(#{$cssvar}md) / 2)                   !default;
$md         : 1rem                                          !default;
$lg         : calc(var(#{$cssvar}md) / 1.5)                 !default;
$xl         : calc(var(#{$cssvar}md) / 3)                   !default;

$sizes      : ()                                            !default;
$sizes: map.merge((
    default : $default,
    none    : $none,
    xs      : $xs,
    sm      : $sm,
    md      : $md,
    lg      : $lg,
    xl      : $xl
), $sizes);



@include declare-cssvar($var-root) {
    @if (map.has-key($sizes, default)) {
        #{string.slice($cssvar, 1, -2)} : var(#{$cssvar}default);
    }
    @each $name, $value in $sizes {
        #{$cssvar}#{$name} : #{$value};
    }
}



// utility class => no emit class
// @include class($alias, $class, "");