// A class library for making a consistent spacing in a html page.



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "sass:string"                               as string;
@use "sass:map"                                  as map;



// $class              : ".spacer"                             !default;
$var-root           : ":root"                               !default;
$var-prefix         : "spc"                                 !default;
$var-prefix-base    : ""                                    !default;
$var: make-var($var-prefix, $var-prefix-base);

$default    : var(#{$var}md)                                !default;
$none       : 0px                                           !default;
$xs         : calc(var(#{$var}md) / 4)                      !default;
$sm         : calc(var(#{$var}md) / 2)                      !default;
$md         : 1rem                                          !default;
$lg         : calc(var(#{$var}md) * 1.5)                    !default;
$xl         : calc(var(#{$var}md) * 3)                      !default;

$sizes      : ()                                            !default;
$sizes: map.merge((
    default : $default,
    none    : $none,
    xs      : $xs,
    sm      : $sm,
    md      : $md,
    lg      : $lg,
    xl      : $xl
), $sizes);



@include declare-vars($var-root) {
    @if (map.has-key($sizes, default)) {
        #{string.slice($var, 1, -2)} : var(#{$var}default);
    }
    @each $name, $value in $sizes {
        #{$var}#{$name} : #{$value};
    }
}



/* begin: general style */
@mixin style {
    // @include base.style;
}
/* end: general style */



// utility class => no emit class
// @include class($class, base.$class) { @include style; }